{% extends "ru/base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}<title>Спасибо за заказ</title>{% endblock %}
</head>
<body>

{% block content %}
    <h1 style="color: #7e3d4a">Спасибо за заказ</h1>
    <p>Если вы не зарегистрированына сайте, вам стоит записать номер вашего заказа или сфотографировать его.</p>
    <p>Так же вы если вы имеете аккаунт, вы можете оплатить через Visa/MasterCard/Private24 ваш заказ.</p>
    <p>Идентификатор вашего заказа: {{ order.id }}</p>
    <p style="text-align:center"><a href="{% url "ru:my_room_order_detail" order_id=order.id%}" style="color: navy">Перейти к оплате заказа</a></p>
    <p style="text-align:center"><a href="{% url "ru:category_list"%}" style="color: navy">Продолжить покупки</a></p>
{% endblock %}

</body>
</html>