body{
    margin: 0;
    padding: 0;
    word-wrap: break-word;
	white-space: normal;
    background: #e2c9c3 url(/static/ru/images/background_beige.jpg);
}
h1{
    text-align: center;
    width: 100%;
}
p{
    color: #7e3d4a;
    text-align: center;
    width: 100%;
}
.p_shares{
    color: #FFFFFF;
    margin: 0;
}
button{
    background-color: #7e3d4a;
    border-color: #7e3d4a;
    color: white;
    border-radius: 4px;
    border-style: solid none;
    cursor: pointer;
    width: 100%;
}

form{
    margin: auto;
    float: left;
}
input {
    background-color: #7e3d4a;
    border-color: #7e3d4a;
    color: white;
    border-radius: 4px;
    border-style: solid none;
    cursor: pointer;
}
textarea {
    width: 250px;
    height: 100px;
}
.block_01{
    background-color: #7e3d4a;
}
.block_02 {
    border-bottom: solid 5px #7e3d4a;
    background: rgba(215, 181, 169, 0.7);
}
.block_02 img{
    display: block;
    margin: 0 auto;
    padding: 40px;
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
.block_03{
    min-height: 600px;
    background: rgba(215, 181, 169, 0.7);
}
.block_04{
    background-color: #7E3D4A;
}
.custom-toggler .navbar-toggler-icon {
	border: 1px dashed rgba(255,255,255, 0.1);
	border-radius: 5px;
  	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler :active{
    border: #FFFFFF;
}
.categories ul{
    text-align: center;
    margin-bottom: 0.5%;
}
.categories li{
    list-style:none;
    display:inline-block;
    margin: auto 2%;
}
.categories a{
    color: #7e3d4a;
}
.top-menu li{
    height: auto;
    top: 5px;
    padding: 0;
}
.block_03-categories{
    height:20px;
    width: 100%;
    text-align: center;
    border-top: 5px solid #7e3d4a;
    border-bottom: dashed 5px #7e3d4a;
    padding-left:10px
}
.title {
  /* чтобы линии не выходили за ширину блока заголовка */
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    color: #7e3d4a;
}
.title:before,
.title:after {
  content: '';

  /* делаем линию строчно-блочной */
  display: inline-block;

  /* выравниваем вертикально по середине */
  vertical-align: middle;

  /* не позволяем ширине превысить 100% (будет добавлен бордюр) */
  box-sizing: border-box;

  /* установка ширины в 100% делает линию равной ширине тега заголовка
  ** благодаря этому линия заполнит все свободное пространство
  ** слева и справа от текста
  */
  width: 20%;
  height: 4px;
  background: #7e3d4a;

  /* добавляем к линии левый и правый бордюр цветом основного фона заголовка
  ** благодаря этому создается нужный отступ между линиями и текстом
  */
  border: solid #e1bfbc;
  border-width: 0 10px;
}
.title:before {
  /* смещаем левую линию влево отрицательным отступом, равным 100% ширины
  ** благодаря этому линия встает слева от текста
  */
  margin-left: -100%;
}
.title:after {
  /* смещаем правую линию вправо отрицательным отступом, равным 100% ширины
  ** благодаря этому линия встает справа от текста
  */
  margin-right: -100%;
}
.products{
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.block {
    display: block;
    width: 100%;
    min-height: 300px;
    height: auto;
    max-width: 300px;
}

.advertising {
    display: block;
    margin: 0 auto;
    padding: 20px;
    max-width: 100%;
    height: auto;
    width: auto \9;
}
.text p{
    text-align: center;
    max-width: 800px;
    width: 100%;
    margin-top: 40px;
}
.footer_reformat{
    color: white;
    margin-top: 14px;
    font-size: 13px;
}
#id_quantity{
    width: 40px;
}
.img-block{
    max-height: 300px;
    max-width: 300px;
    width: 100%;
    height: 100%;

    display: inline-block;
}
.img-block:hover .short_description{
    box-sizing: border-box;
    display: flex;
    float: right;
    justify-content: center;
    align-items: center;
    background-color: rgba(36, 36, 36, 0.9);
    width: 100%;
    height: 100%;
}
.short_description{
    box-sizing: border-box;
    display: none;
    position: absolute;
    text-align: center;
    top: 0;
    color: white;
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    height: 100%;
}
.shares{
    font-size: 10px;
    position: absolute;
    top: 0;
    left: 19%;
    width: 100px;
    height: 75px;
    margin: 10px;
    background: rgb(126, 61, 74);
    color: white;
    border-radius: 5px;
    }
.name_product {
    position: relative;
    color: #7e3d4a;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 300px;
    max-height: 300px;
    width: 100%;
}
.support_form{
    margin: auto;
}

.support_form p{
    text-align: right;
    color: #7e3d4a;
}
.support_form button{
    background-color: #7e3d4a;
    border-color: #7e3d4a;
    color: white;
    border-radius: 4px;
    border-style: solid none;
    cursor: pointer;
}
.add_cart_form{
    float: right;
}
.add_comment_form{
    width: 100%;
    margin-top: 20px;
}
.data_form{
    float: right;
}
.data_form p{
    text-align: right;
    width: 50%;
}
.data_form button{
    background-color: #7e3d4a;
    border-color: #7e3d4a;
    color: white;
    border-radius: 4px;
    border-style: solid none;
    cursor: pointer;
    width: 75%;
}
.order-form{
     margin: auto;
}
.order-form p {
    text-align: right;
}
.comment{
    padding: 10px;
    width: 30%;
    margin:auto;
}
#signup_form p{
    text-align: right;
}
.login p {
    text-align: right;
}


@media screen and (max-width: 1280px) {
    .img-block:hover .short_description{
        box-sizing: border-box;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        background-color: rgba(36, 36, 36, 0.9);
        max-width: 290px;
    }
    .name_product {
        width: 100%;
        font-size: 160%;
    }
    .comment{
        width: 100%;
    }
    .shares{
        position: absolute;
       top: 0;
       left: 5%;
       width: 75px;
       height: 50px;
       margin: 10px;
    }
}

@media screen and (max-width: 480px) {
    .img-block:hover .short_description{
        box-sizing: border-box;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        background-color: rgba(36, 36, 36, 0.9);
        width: 90%;
    }
    .name_product {
        width: 100%;
        font-size: 160%;
    }
    .comment{
        width: 100%;
    }
    .shares{
        position: absolute;
        top: 0;
        left: 15%;
    }
    .slider{
        display:none;
    }
}