{% extends 'ru/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block content %}
        <div class="col-12" align="center"><p style='text-align: center;max-width: 800px;width: 100%'>dasdas</p></div>
            <div class="support_form" align="center">
                <form method="post" class="support_form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Отправить в поддержку</button>
                </form>
            </div>
    {% endblock %}
</body>
</html>