<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load account %}
    <link rel="stylesheet" href = "{% static 'css/styles.css' %}">
    <link rel="stylesheet" href = "{% static 'css/bootstrap_menu.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content = "width=device-width">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% block title %}<title></title>{% endblock %}
</head>
<body>
<div class='container-fluid container-fluid-reformat'>
    <div class="row block_01">
        <nav class="navbar navbar-expand-lg custom-toggler" style="width: 100%;">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent" align="center" style="margin: 0 7% 0 7%">
                {% block top_menu %}
                    <div class="top-menu">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                 <a class="nav-link" href="{% url 'ru:category_list' %}">Главная</a>
                            </li>
                            <li class="nav-item">
                                 <a class="nav-link" href="{% url 'ru:shares_list' %}">Акции</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "ru:payment" %}">Доставка и оплата</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "ru:contact" %}">Контакты</a>
                            </li>
                        </ul>
                    </div>
                {% endblock %}
                <div class="top-menu" style="margin: 0 0 0 auto;">
                    <ul class="navbar-nav mr-auto">
                        {% if not user.is_active %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'account_login' %}"><img src="{% static 'ru/images/login.png' %}" style="margin-right: 5px;margin-bottom: 5px">Вход</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'ru:my_room' %}"><img src="{% static 'ru/images/login.png' %}" style="margin-right: 5px;margin-bottom: 5px">Моя комната</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'ru:cart_detail' %}"><img src="{% static 'ru/images/card.png' %}" style="margin-right: 5px; margin-bottom: 5px">Корзина
                            {% with total_items=cart|length %}
                                {% if cart|length > 0 %}
                                    на {{ cart.get_total_price_with_discount }} грн.
                                {% else %}
                                    пустая
                                {% endif %}
                            {% endwith %}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="row block_02">
        <div class="col-12"><a href="{% url "ru:category_list" %}"><img src="{% static 'ru/images/main_img.png' %}" align="center"></a>
        </div>
        <div class="col-12 categories" style="padding-top: 15px;">
            <ul>
                {% for category in category_list %}
                    {% if category.available %}
                        {% if category.rel_category.count %}
                            <li>
                                <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="row block_03" style="padding-top: 40px">

        {% block content %}

        {% endblock %}
    </div>

    <div class="row block_04">
        <div class="col-12 footer_reformat" style="color: white">
            <p style="text-align: center;color: white">© 2018 Avelinimus Все права защищены.</p>
            <p style="text-align: center;color: white">По всем вопросам обращаться в<a href="{% url 'ru:support' %}"> службу поддержки</a>.</p>
            <p style="text-align: center;color: white">Наша почта ibiza@ibiza.ibiza</p>
      </div>
    </div>

<script src="{% static 'js/top_menu.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>