{% extends 'ru/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    {% block title %}<title>Категория-{{ category.name }}</title>{% endblock %}
</head>

    {% block content %}

        <div class="col-12" style="color: #7E3D4A "><h1><a>{{ category.name }}</a></h1></div>

        <div class="products">
            {% for product in products_list  %}
                {% if category.name|lower == product.category|lower %}
                   <div class="col-12 col-md-6 block">
                       <h2 align="center" style="color: #7E3D4A">{{ product.name }}</h2>
                       <a href="{{ product.get_absolute_url }}"><img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "ru/images/no_image.png"%}{% endif %}" width="230" height="230" align="center" style="margin-right: 10px;size: 100">
                       {% if product.discount > 0 %}<img src="{% static "ru/images/ico_shares.png"%}" style="position: absolute;bottom: 35px;left: 200px">{% endif %}
                       </a>
                       <p style="text-align: left;">{{ product.short_description }}</p>
                   </div>
                {% endif %}

            {% endfor %}
        </div>
    {% endblock %}
</body>
</html>