{% extends 'ru/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    {% block title %}<title>Nazarulia</title>{% endblock %}
</head>

<body>
    {% block content %}
        <div class="col-12"  align="center">  <div class="slider" id="main-slider"><!-- outermost container element -->
	<div class="slider-wrapper"><!-- innermost wrapper element -->
		<div class="slide" data-image="{% static "ru/images/anime.jpg"%}"></div><!-- slides -->
		<div class="slide" data-image="DSC_3360.jpg"></div>
		<div class="slide" data-image="DSC_3425.jpg"></div>
	</div>
	<div class="slider-nav"><!-- "Previous" and "Next" actions -->
		<button class="slider-previous">Previous</button>
		<button class="slider-next">Next</button>
	</div>
</div>

        </div>

       <div class="products" >
            {% for category in category_list %}
                {% if category.available %}
                    {% if category.rel_category.count %}
                        <div class="col-12 title" style="padding-bottom: 50px;padding-top: 40px"><a href="{{ category.get_absolute_url }}" style="color: #7e3d4a;">{{ category.name }}</a></div>
                    {% endif %}
                {% endif %}
                {% for product in products_list %}
                    {% if category.available %}
                        {% if product.available %}
                            {% if product.category|lower == category.name|lower %}
                                {% if product%}
                                <div class="col-12 col-lg-3" style="float: left" align="center">
                                    <div class="img-block" >
                                        <a href="{{ product.get_absolute_url }}">
                                        <p class="short_description">{{ product.short_description }}</p>
                                        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "ru/images/no_image.png"%}{% endif %}" width="300" height="300" class="block">
                                            {% if product.discount > 0 %}
                                                <div class="shares">
                                                    <p class="p_shares"><span style="text-decoration: line-through;">{{ product.price }}грн.</span></p>
                                                    <p class="p_shares">{{ product.get_discount }}грн.</p>
                                                    <p class="p_shares">Акция в {{ product.discount }} %</pc>
                                                </div>
                                            {% endif %}
                                        </a>
                                        <h3 class="name_product">{{ product.name }}</h3>
                                    </div>
                                </div>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    {% endblock %}
</body>
</html>