{% extends 'ru/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block top_menu %}
        <div class="top-menu">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url "ru:category_list" %}">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "ru:shares_list" %}">Акции</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "ru:payment" %}">Доставка и оплата</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "ru:contact" %}">Контакты</a>
                </li>
            </ul>
        </div>
    {% endblock %}
    {% block content %}
        <div class="col-12">
            <form method="post">
                {% csrf_token %}
                {{ user_form.as_p }}
                {{ profile_form.as_p }}
                <button type="submit">Сохранить изменения</button>
            </form>
        </div>
        <a href="{% url 'account_logout' %}">Выйти из аккаунта</a>
    {% endblock %}
</body>
</html>