{% extends 'ru/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}<title>Моя комната</title>{% endblock %}
</head>
<body>
    {% block top_menu %}
        <div class="top-menu">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url "ru:category_list" %}">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "ru:shares_list" %}">Акции</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "ru:payment" %}">Доставка и оплата</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "ru:contact" %}">Контакты</a>
                </li>
            </ul>
        </div>
    {% endblock %}
    {% block content %}
        <div class="col-12 col-md-4" style="color: #7e3d4a">
            <h3 align="center">Форма пользователя</h3>
            <div class="data_form" align="center" style="margin-bottom: 70px">
                <form method="post">
                    {% csrf_token %}
                    {{ user_form.as_p }}
                    {{ profile_form.as_p }}
                    <button type="submit" style="margin-top: 30px ">Сохранить изменения</button>
                </form>
            </div>
        </div>
        <div class="col-12 col-md-8 " style="color: #7e3d4a">
        <p style="text-align: center">Мои заказы:</p>
            {% if not order_list == 0 %}
                {% for order in order_list %}
                    {% if order.user.id|lower == user.id|lower %}
                        {% if not order.take_client %}
                            {% if not order.sent %}
                                <p style="text-align: center"><a href="{{ order.get_absolute_url }}">Активный заказ: № {{ order.id }}</a></p>
                            {% else %}
                                <p style="text-align: center"><a href="{{ order.get_absolute_url }}">Заказ в пути: № {{ order.id }}</a></p>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="col-4">
            {% if user.is_staff %}<h3 style="text-align: center"><a href="{% url 'admin:index' %}" style="color: #7e3d4a">Административная панель</a></h3>{% endif %}
            <h3 style="text-align: center"><a href="{% url 'ru:support'%}" style="color: #7e3d4a">Служба поддержки</a></h3>
            <h3 style="text-align: center; margin-bottom: 50px"><a href="{% url 'account_logout' %}" style="color: #7e3d4a">Выйти из аккаунта</a></h3>
        </div>
    {% endblock %}
</body>
</html>