{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Payments</title>
</head>
<body>
    {% block top_menu %}
            <div class="top-menu">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "ru:category_list" %}">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Акции</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url "ru:payment" %}">Доставка и оплата</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "ru:contact" %}">Контакты</a>
                    </li>
                </ul>
            </div>
    {% endblock %}
</body>
</html>