{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Shop UA</title>
</head>

<body>
    {% block content %}
        <div class="advertising"><img src="{% static 'ru/images/slide_shoot.png' %}" height="260px"></div>
        {% for category in category_list %}
            <div class="col-12 title"><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></div>
            {% for product in products_list %}
                <div class="products">
                    <div class="col-4 block">
                        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "ru/images/no_image.jpeg"%}{% endif %}" width="200" height="200" align="left" style="margin-right: 15px">
                    <p>{{ product.name }}</p>
                    </div>


                </div>
            {% endfor %}
        {% endfor %}
    {% endblock %}
</body>
</html>