{% extends 'ru/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    {% block title %}<title>Услуга-{{ product.name }}</title>{% endblock %}
</head>
<body>
    {% block content %}
        <div class="col-12"  style="margin-top: 40px">
            <h2 align="center">{{ product.name }}</h2>
            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "ru/images/no_image.png"%}{% endif %}" width="300" height="300"  class=" block">
            <div class="text">{% autoescape off %}{{ product.description }}{% endautoescape %}</div>
            Как давно создана эта услуга: <h6 style="color: #7E3D4A">{{ product.created }}</h6>
            {% if product.discount > 0  %}
                <h5 style="text-align: right">Старая цена: {{ product.price }} грн.</h5>
                <h5 style="text-align: right">Цена по акции: {{ product.get_discount }} грн.</h5>
                <h5 style="text-align: right">Акция на продукт в: {{ product.discount }}%</h5>
            {% else %}
                <h5 style="text-align: right">Цена: {{ product.price }} грн.</h5>
            {% endif %}
            <form action="{% url "ru:cart_add" product.id %}" method="post" class="add_cart_form">
                {{ cart_product_form.as_p }}
                {% csrf_token %}
                <input type="submit" value="Добавить в корзину">
            </form>
        {% if user.is_active %}
            <form action="{% url "ru:comment_add" product.id %}" method="post" class="add_comment_form">
                {% csrf_token %}
                {{ comment_product_form.as_p }}
                <input type="submit" value="Send comment" />
            </form>
        {% else %}
            <p>Что бы оставить комментарий вам нужно быть авторизованым.</p>
            <p><a href="{% url 'account_signup' %}"> Регистрация</a>/<a href="{% url 'account_login' %}">Вход</a></p>
        {% endif %}
        </div>
        <div><h4>Comments:</h4>
            {% for comment in comments_list %}
                {% if product.name|lower == comment.comments_product|lower %}
                    {% if comment.verified %}
                        {{ comment.comments_text }} # отображаем текст комментария
                        {{ comment.created }}
                    {% endif %}
                {% endif %}
            {% endfor %}
            </div>
    {% endblock %}
</body>
</html>