{% extends 'ru/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block content %}
        <div class="col-12">
        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "ru/images/no_image.png"%}{% endif %}" width="200" height="200" align="left" style="margin-right: 15px">
        {{ product.name }}
        {% autoescape off %}{{ product.description }}{% endautoescape %}
        {{ product.created }}
        <p class="price">{{ product.price }} руб.</p>
            <form action="{% url "ru:cart_add" product.id %}" method="post">
                {{ cart_product_form }}
                {% csrf_token %}
                <input type="submit" value="Добавить в корзину">
            </form>
        </div>
    {% endblock %}
</body>
</html>